@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-jaro: "Jaro", sans-serif;
  --font-merriweather: "Merriweather", serif;
}